  <% if @menu.menu_items %>
    <h2>Recipes in the menu:</h2>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Yields</th>
          <th></th>
        </tr>
      </thead>   
      <tbody> 
        <% @menu.menu_items.each do |item|%>
          <% if item.recipe %>
            <tr>
              <td><%= link_to item.recipe.title, item.recipe %></td>
              <td><%= item.yields %></td>
              <td><%= link_to 'Remove', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
