#banner {
  background: #FFE19A;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #FFB400 ;
  text-align: center;
}
#banner img {
  float: left;
}
#columns {
  background: #99700E ;
}
#main {
  margin-left: 13em;
  padding-top: 4ex;
  padding-left: 2em;
  background: white;
}
#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 12em;
  background: #99700E ;
}
#side a {
  color: #ECAB11 ;
  font-size: small;
}
